.appbar {
    background-color: #792DE7!important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 13rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 11%;
    height: 11%;
}